<div class="card index-card">
	{% if article.image %}
		<img class="card-img-top index-card-image" src={{ article.image }}></img>
	{% else %}
		<img class="card-img-top index-card-image" src="theme/images/Bumble-Bee-300px.png"></img>
	{% endif %}
	<div class="card-body">
		
		<div class="card-img-overlay my-overlay">
			<a href="{{ article.url }}">
				<h4 class="card-title">{{ article.title }}</h4>
			</a>
			<h6 class="card-text card-date">
			<time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
			</h6>
			<h6 class="card-text card-author">
			{% for author in article.authors %}
				<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
			{% endfor %}
			</h6>
		</div>
		
		<p class="card-text">{{ article.summary|truncate(100) }}</p>
	</div>
	<div class="card-footer my-card-footer">
		<a href="{{ article.url }}" class="btn btn-block">Read more</a>
	</div>
</div>